[build]
  command = "quarto render"
  publish = "_site"

[build.environment]
  QUARTO_VERSION = "1.7.32"

[[plugins]]
package = "@quarto/netlify-plugin-quarto"

[context.production.environment]
  QUARTO_VERSION = "1.7.32"
