[build]
  command = "curl -LO https://github.com/quarto-dev/quarto-cli/releases/download/v1.6.40/quarto-1.6.40-linux-amd64.tar.gz && mkdir -p /tmp/quarto && tar -xzf quarto-1.6.40-linux-amd64.tar.gz -C /tmp/quarto --strip-components=1 && /tmp/quarto/bin/quarto render"
  publish = "_site"

[build.environment]
  QUARTO_VERSION = "1.6.40"

[context.production.environment]
  QUARTO_VERSION = "1.6.40"